* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #091921;
}
   
/* .box1 {
    
} */
.box1 .box2:before {
    content: '';
    position: absolute;
    width: 38vh;
    height: 61.5vh;
    
    background: linear-gradient(315deg,#e91e63,#5d02ff);
    transform: skew(2deg,4deg);
    z-index: -1;

}

.calculator {
    position: relative;
    display: grid;
    /* box-shadow: 0px 0px 0px 0vh rgb(5, 15, 19); */
    border-radius: 3.5vh;
}
.calculator .value {
    grid-column: span 4;
    height: 14vh;
    width: 38vh;
    text-align: right;
    border: none ;
    outline: none;
    padding-right: 2vh;
    font-size: 4.4vh;
    border-top-left-radius:0 ;
    border-top-right-radius: 0;
    background-color: black;
    color: #ffff;
}
.calculator span {
    display: grid;
    width: 9.5vh;
    height: 9.5vh;
    color: white ;
    background: black;
    place-items: center;
    /* border: 1px solid rgba(253, 253, 253, 0.041); */
    transition: 0.5s;
    font-size: 3vh;
}
.calculator span:active {
    background: #ffff;
    color: #111;
}
.calculator span:hover {
    background: rgb(211, 211, 211);
    color: #111;

}
.calculator span.clear {
    grid-column: span 2;
    width: 19vh;
    /* background: #ff3077; */
    font-size: vh;
}
/* .calculator span.clear:active {
    background: #7e183b;
}
.calculator span.clear:hover {
    background: #7e183b;
    color: white;
    
} */
.calculator span.equal {
    /* background: #03b1ff; */
    grid-column: span 2;
    width: 19vh;
    border-bottom-right-radius: 0vh;
    font-size: 5vh;
}
/* .calculator span.equal:active {
    background: #01557c;
    color: white;
    
}
.calculator span.equal:hover {
    background: #01557c;
    color: white; 
    
}*/
.calculator span.dot{
    border-bottom-left-radius: 0vh;
    
}